version: "3.9"

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
      - huggingface_cache:/root/.cache/huggingface
      - nltk_data:/root/nltk_data
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]  # use GPU if available

volumes:
  huggingface_cache:
  nltk_data:
